/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* End of CSS Reset */

:root {
  --main-bg-black: rgba(0, 0, 0, 0.596);
  --main-text-white: whitesmoke;
  --main-text-black: black;
}

body {
  font-family: system-ui, sans-serif;
  background: no-repeat center center fixed url('./images/todo-list.jpg');
  background-size: cover;
}

header {
  background-color: var(--main-bg-black);
  padding: 0.5rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

ul {
  list-style-type: none;
}

/* .todoLi {
  cursor: pointer;
} */

div#content {
  background-color: var(--main-bg-black);
  width: fit-content;
  margin: 3rem auto;
  color: var(--main-text-white);
}

div#content div.all-projects-div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div#content div.all-projects-div ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div#content div.all-projects-div button {
  width: 100%;
}

div#content div.all-project-todos-div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.todoLi {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  /* gap: 0.3rem; */
}

.todo-li-div {
  display: flex;
  gap: 0.5rem;
}

#add-todo-modal,
#add-project-modal {
  margin: 4rem auto;
  padding: 2rem;
  background-color: var(--main-bg-black);
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px 2px rgba(95, 95, 95, 0.651);
  color: var(--main-text-white);
}

.modal-buttons {
  display: flex;
  gap: 0.5rem;
}

.modal-buttons button {
  flex: 1;
}

::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(3px);
}

input {
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  display: grid;
  gap: 1rem;
}

form input {
  color: var(--main-text-black);
}

.form-group {
  display: grid;
  gap: 0.1rem;
}

div h2 {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.todo-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.todo-due-date {
  font-size: 0.8rem;
  text-indent: 1rem;
  margin-bottom: 0.3rem;
}

input[type='radio'] {
  accent-color: var(--main-text-black);
}
